/target/
/*.classpath
*.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
*.iml
/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/libraries/Maven__com_google_guava_guava_17_0.xml
/.idea/libraries/Maven__junit_addons_junit_addons_1_4.xml
/.idea/libraries/Maven__junit_junit_4_11.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__xerces_xercesImpl_2_6_2.xml
/.idea/libraries/Maven__xerces_xmlParserAPIs_2_6_2.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
